/******* function to Convert Pixels too REM *******/
@function rem($size) {
    $remSize: $size / 16;
    @return #{$remSize}rem;
}

/**************** Variables *******/
// colors
$clr-brightOrange:hsl(31, 77%, 52%);
$clr-darkCyan: hsl(184, 100%, 22%);
$clr-veryDarkCyan: hsl(179, 100%, 13%);


// Neutrals (background, headings, buttons, paragraghs)
$clr-white-paragraphs: hsla(0, 0%, 100%, 0.75);
$clr-gray-bg: hsl(0, 0%, 95%);


// fonts
$font-sz-regular: rem(15);

// font weight
$font-bold: 700;
$font-medium: 400;

// Font fammily
$font-LexendDeca: 'Lexend Deca', sans-serif;
$font-BigShouldersDispla: 'Big Shoulders Display', cursive;

/********* media quries ******/
@mixin media-query ($size) {
  @if $size == desktop {
      @media screen and (max-width: 1080px) {
          @content;
      }
  }
  @else if $size == tablet {
      @media screen and (max-width: 870px) {
          @content;
      }
  } 
  
}

/*************** RESETS ***********/

html{
    font-size: 100%;
    box-sizing: border-box;
}

// html:focus-within{
//     scroll-behavior: smooth;
// }

*, *::before, *::after{
    box-sizing: inherit;
} 
*{
    margin: 0;
    padding: 0;
}

/*** to make images easier to work with */
img,picture{
    max-width: 100%;
    display: block;
}

a, a:hover, a:focus{
    text-decoration: none;
}


/****** global *********/
body{
    background-color: $clr-gray-bg;
    max-width: 100%;
    min-height: 100vh;
    
    font-size: $font-sz-regular;
    font-weight: $font-medium;
    color: $clr-gray-bg;
    display: grid;
    place-items: center ;
}

h2 {
    font-family: $font-BigShouldersDispla;
    font-weight:  $font-bold;
}

p{
    font-family: $font-LexendDeca;
}

/************ Styling **********/

.container{
    max-width: rem(1000);
    // border: red solid 4px;
    display: flex;
    @include media-query(desktop){
        max-width: rem(850);
    }

    @include media-query(tablet){
        max-width: 90%;
        flex-flow: column;
    }


    
}

.card{
    padding: rem(50);
    

    &__1{
        background-color: $clr-brightOrange;
        border-radius: rem(10) 0 0 rem(10);
        @include media-query(tablet){
            border-radius: rem(10) rem(10) 0 0;
        }

    }

    &__2{
        background-color: $clr-darkCyan;
    }
    &__3{
        background-color: $clr-veryDarkCyan;
        border-radius: 0 rem(10)  rem(10)  0;
        @include media-query(tablet){
            border-radius: 0 0 rem(10) rem(10) ;
        }
    }


    &__button{
        padding: rem(10) rem(30);
        border-radius: rem(30);
        border: none;
        background-color: $clr-gray-bg;
        font-family: $font-LexendDeca;

        &__1{
            color: $clr-brightOrange;
            &:hover{
                background-color: $clr-brightOrange;
                color: $clr-gray-bg;
                border: rem(2) solid $clr-gray-bg;
                
            }
        }

        &__2{
            color: $clr-darkCyan;
            &:hover{
                background-color: $clr-darkCyan;
                color: $clr-gray-bg;
                border: rem(2) solid $clr-gray-bg;
            }
            
        &__3{
            color: $clr-veryDarkCyan;
            &:hover{
                background-color: $clr-veryDarkCyan;
                color: $clr-gray-bg;
                border: rem(2) solid $clr-gray-bg;
            }
        }

    }

    :not(:last-child){
        margin-bottom: rem(30);
    }

    @include media-query(tablet){
        padding: rem(30);
    }

}
